<div class="container">
  <div class="row">
    <!-- <form (ngSubmit)="submitQuote()"> -->
    <form (ngSubmit)='submitQoute()' #form='ngForm'>
      <div class="forms">
        <label for="name">Qoute</label>
        <textarea type="text" class="form-control" id="name" [(ngModel)]="newQoute.name" name="name" #name='ngModel'
          required>{{newQoute}}</textarea>

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Kindly write your quote...</p>
        </div>

      </div>
      <div class="forms">
        <label for="author">Author</label>
        <input type="text" required class="form-control" id="author" [(ngModel)]="newQoute.author" name="author"
          #author="ngModel">

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Enter the author's name ...\</p>
        </div>
      </div>
      <div class="form-group">

        <label for="written">Submitted by</label>
        <input type="text" required class="form-control" id="written" [(ngModel)]="newQoute.written" name='written'
          #written="ngModel" required>


        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p> Enter your name... </p>
        </div>

      </div>

      <div class="form-group">

        <label for="complete">Created On</label>
        <input type='date' id="complete" [(ngModel)]="newQoute.completeDate" name="completeDate" #completeDate="ngModel"
          required>
        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
          <p>Date is required</p>
        </div>
      </div>



      <button type="submit" class="btn btn-success">Submit the quote</button>
    </form>
  </div>
</div>
