.top{
    color:pink;
    font-size: 25px;
}

.bottom{
    margin-top: 150px;
    color:pink;
    width: 100vh;
    display: block;
    background-position: center;
    font-size: 30px;
    text-decoration: none;
    justify-content: space-between;
    text-align: center;
    height: 80vh;

    margin-bottom: 50px;
}
h1{
    font-size: 34px;
    color: green;
   
}
