<!DOCTYPE html>
<div class="contaner">
  <div class = "card-row top">
    <div class="col-6">
  <h1> QUOTES FOR LIFE</h1>
  <hr>
  <app-form (addQoute)='addNewQoute($event)'></app-form>
  </div>
</div>
  <div class="card-row bottom">
    <div class="col-6">
      <div *ngFor='let qoute of qoutes;let i=index'>
        <ul>
          <li>{{qoute.name}}</li>
          <button (click)='toggleDetails(i)' style="color: blue;">See Author</button>

          <div >
            <app-qoute-details *ngIf="qoute.showAuthor" [qoutes]='qoutes' (isComplete)='deleteQoute($event,i)'></app-qoute-details>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
 