<p>qoute-details works!</p>
<div class="quotedetails">
  <div class="user">

    <div class="votes">{{Votes}}</div>

    <div class="label">Votes:</div>

  </div>
</div>
<!-- <div class="votining">
    <ul class="">
        <li class="item"><a href (click)="likeVote()"><i class="upvote"></i>Upvote</a></li>
        <li class="item"><a href (click)="dislikeVote()"><i class="downVote">Downvote</i></a> </li>
    </ul>
    <button class="btn btn-danger" (click)='quoteDelete(true)'><i class="fa fa-trash"></i></button>

</div> -->
<!-- <div class="icon">
  <span><button (click)=likebuttonclick() class="btn btn-warning">likes<i class="fa fa-thumbs-up" aria-hidden="true"></i></button></span>
 <span>{{numberoflikes}}</span>
 <span><button (click)=dislikebuttonclick() class="btn btn-success">dislikes<i class="fa fa-thumbs-down" aria-hidden="true"></i></button></span>
 <span>{{numberofdislikes}}</span><br><br>
<button (click)= 'goalDelete(true)' class="btn btn-outline-danger">Bleep Quote<i class="fa fa-trash" aria-hidden="true"></i></button>
</div> -->

<div class="votining">
  <ul class="">
    <li class="item"><a href (click)="likeVote()"><i class="upvote"></i>Upvote</a></li>
    <li class="item"><a href (click)="dislikeVote()"><i class="downVote">Downvote</i></a> </li>
  </ul>
  <button class="btn btn-danger" (click)='quoteDelete(true)'><i class="fa fa-trash"></i></button>

</div>

<p>{{qoute.written}}</p>
<p>This qoute was writen in {{qoute.completeDate|date}}.</p>
