<p>qoute-details works!</p>
<div class="quotedetails">
  <div class="user">

    <div class="votes">{{Votes}}</div>

    <div class="label">Votes:</div>

  </div>
</div>
<div class="votining">
    <ul class="">
        <li class="item"><a href (click)="likeVote()"><i class="upvote"></i>Upvote</a></li>
        <li class="item"><a href (click)="dislikeVote()"><i class="downVote">Downvote</i></a> </li>
    </ul>
    <button class="btn btn-danger" (click)='quoteDelete(true)'><i class="fa fa-trash"></i></button>

</div>

<p>{{qoute.written}}</p>
<p>This qoute was writen in {{qoute.completeDate|date}}.</p>