h1 {
  font-size: 30px;
  text-align: center;
  color: gold;
}

h1:hover {
  color: silver;
}

body {
  background-image: url(./assets/inspiration.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
}

.row{
  padding-right:500px;
  padding-left:0px;
}



